@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: ui-sans-serif, system-ui;
}

/* look più editoriale */
h1, h2, h3 {
  font-family: ui-serif, Georgia, serif;
  letter-spacing: -0.02em;
}